<a href="https://colab.research.google.com/github/Ponrudee/NLPwPytorch/blob/main/thai_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_name = '/content/drive/MyDrive/TA/์NLP/ThaiSentimentResource.xlsx'
# file_name = '/content/ThaiSentimentResource.xlsx'

In [ ]:
#open file
import pandas as pd
data = pd.read_excel(file_name, sheet_name='Sheet1')

In [ ]:
data

,#,ThaiWord,Synset,Polarity,Pleasantness,Attention,Sensitivity,Aptitude
0,1,ๆ,group.n.01,positive,0.065,0.113,0.000,0.100
1,2,ก็,gravel.n.01,negative,-0.760,0.000,0.815,0.000
2,2,ก็,smaller.s.01,negative,-0.920,0.000,0.900,0.000
3,2,ก็,less.s.02,negative,-0.900,0.000,0.278,-0.990
4,2,ก็,prime_minister.n.01,positive,0.039,0.113,0.000,0.069
...,...,...,...,...,...,...,...,...
43151,30629,ไอโซโทปกัมมันตรังสี,radioisotope.n.01,positive,0.870,0.961,0.000,0.000
43152,30630,ไอโอดีน,iodine.n.01,negative,-0.030,0.000,0.000,-0.080
43153,30631,ไฮเวย์,highway.n.01,positive,0.000,0.072,0.000,0.092
43154,30632,ไฮโดรเจน,hydrogen.n.01,positive,0.909,0.983,0.000,0.000
43155,30633,ไฮโดรเจนเพอร์ออกไซด์,hydrogen_peroxide.n.01,negative,0.000,0.000,-0.050,-0.070

In [ ]:
data['#'] = data['#'].astype('str')
data.describe()

       Pleasantness     Attention   Sensitivity     Aptitude
count  43156.000000  43156.000000  43156.000000  43156.00000
mean       0.047235      0.070470      0.055079      0.06878
std        0.504713      0.395625      0.355172      0.52464
min       -1.000000     -1.000000     -1.000000     -1.00000
25%       -0.040000      0.000000      0.000000     -0.05000
50%        0.000000      0.000000      0.000000      0.10000
75%        0.092000      0.135000      0.000000      0.28400
max        1.000000      1.000000      1.000000      1.00000

In [ ]:
class_name = data['Polarity'].unique()
class_name

array(['positive', 'negative'], dtype=object)

In [ ]:
attributes = ['Pleasantness','Attention','Sensitivity','Aptitude']
x = data[attributes]
y = data['Polarity']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
x_train

       Pleasantness  Attention  Sensitivity  Aptitude
22442        -0.140      0.000       -0.210    -0.070
17816         0.000      0.000        0.063    -0.030
8113          0.000      0.273       -0.160     0.277
41654         0.032      0.085        0.049     0.222
37237         0.038      0.000       -0.070    -0.060
...             ...        ...          ...       ...
6265          0.733      0.991        0.000     0.843
11284         0.000      0.000       -0.700    -0.820
38158         0.860     -0.790        0.000     0.930
860           0.000      0.000        0.784     0.000
15795         0.000      0.852        0.000     0.878

[30209 rows x 4 columns]

In [ ]:
y_train

22442    negative
17816    negative
8113     positive
41654    positive
37237    negative
           ...
6265     positive
11284    negative
38158    positive
860      negative
15795    positive
Name: Polarity, Length: 30209, dtype: object

In [ ]:
x_test

       Pleasantness  Attention  Sensitivity  Aptitude
42618         0.065      0.113        0.000     0.100
42222         0.037      0.184        0.000     0.211
9985          0.065      0.113        0.000     0.100
35957         0.942     -0.580        0.000     0.540
14453        -0.060     -0.050        0.037    -0.140
...             ...        ...          ...       ...
41794         0.963     -0.570        0.000     0.823
31453         0.733      0.991        0.000     0.843
38949         0.065      0.113        0.000     0.100
22598         0.081      0.146        0.000     0.167
41480        -0.020      0.193        0.013     0.053

[12947 rows x 4 columns]

In [ ]:
y_test

42618    positive
42222    positive
9985     positive
35957    positive
14453    negative
           ...
41794    positive
31453    positive
38949    positive
22598    positive
41480    positive
Name: Polarity, Length: 12947, dtype: object

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()

In [ ]:
logisticRegr.fit(x_train, y_train)

LogisticRegression()

In [ ]:
word = 'หัวเราะ'
x_pred = data.loc[data['ThaiWord'] == word, attributes]
logisticRegr.predict(x_pred)

array(['positive'], dtype=object)

In [ ]:
score = logisticRegr.score(x_test, y_test)
score

0.992430678921758

In [ ]:
predictions = logisticRegr.predict(x_test)
print(predictions)

['positive' 'positive' 'positive' ... 'positive' 'positive' 'positive']

In [ ]:
from sklearn.metrics import confusion_matrix
logistic_cm = confusion_matrix(y_test, predictions, labels=["positive","negative"])
logistic_cm # x: predict label, y: true label

array([[8851,   26],
       [  19, 4051]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions, target_names=["positive","negative"]))

              precision    recall  f1-score   support

    positive       0.99      1.00      0.99      4070
    negative       1.00      1.00      1.00      8877

    accuracy                           1.00     12947
   macro avg       1.00      1.00      1.00     12947
weighted avg       1.00      1.00      1.00     12947

#Support Vector Machines

In [ ]:
from sklearn import svm
linearSVC = svm.SVC()

In [ ]:
linearSVC.fit(x_train, y_train)

SVC()

In [ ]:
word = 'หัวเราะ'
x_pred = data.loc[data['ThaiWord'] == word, attributes]
linearSVC.predict(x_pred)

array(['positive'], dtype=object)

In [ ]:
score = linearSVC.score(x_test, y_test)
score

0.9965242913416236

In [ ]:
predictions = linearSVC.predict(x_test)
print(predictions)

['positive' 'positive' 'positive' ... 'positive' 'positive' 'positive']

In [ ]:
svc_cm = confusion_matrix(y_test, predictions, labels=["positive","negative"])
svc_cm # x: predict label, y: true label

array([[8851,   26],
       [  19, 4051]])

In [ ]:
print(classification_report(y_test, predictions, target_names=["positive","negative"]))

              precision    recall  f1-score   support

    positive       0.99      1.00      0.99      4070
    negative       1.00      1.00      1.00      8877

    accuracy                           1.00     12947
   macro avg       1.00      1.00      1.00     12947
weighted avg       1.00      1.00      1.00     12947